Repository mrkirby153/task-scheduler-rs: changes, and which lefthook commands are due for each by the changed paths.
All: sqlx-check, nix-format

lefthook.yml:

pre-commit:
  commands:
    sqlx-check:
      tags: backend style
      glob: "*.rs"
      run: cargo sqlx prepare && git add .sqlx
      stage_fixed: true
    nix-format:
      tags: nix style
      glob: "*.nix"
      run: nix fmt {staged_files}
      stage_fixed: true

Add amqp
  .sqlx/query-4f28c9855a87500c39fc4e88308b16b87bf12743e25be5d1707c07edd8d94dfd.json
  Cargo.lock
  Cargo.toml
  src/main.rs
  task-scheduler.nix
Due: sqlx-check, nix-format

Add prometheus metrics
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/prometheus.rs
  task-scheduler.nix
Due: sqlx-check, nix-format

Add tokio-utils
  Cargo.lock
  Cargo.toml
  task-scheduler.nix
Due: nix-format

Run schedules
  .sqlx/query-125b4460e42d4b9ccbadcce2d70c3886b35b63f3ced707673d3b32a899329929.json
  .sqlx/query-839690c6a7294f72dd0ec7753ba81e67293afdcfd1b70db0f411297dfd6b51f9.json
  db/migrations/20240824191655_initial_schema.sql
  src/db.rs
  src/main.rs
  src/prometheus.rs
Due: sqlx-check

Use a mutex instead of a RwLock
  src/db.rs
Due: sqlx-check

Fix typo
  src/db.rs
Due: sqlx-check

Delete tasks after they've been ran
  .sqlx/query-5b25046d4120243560038191bec0a216ce2c246a1710c9b009e50c978e3c1971.json
  src/db.rs
  src/main.rs
Due: sqlx-check

Implement RPC server
  .sqlx/query-2c1340b17f5fa2bd2d511e6db0b44aa1fae7d690aff075fbc8c729d36ce50859.json
  .sqlx/query-49ec0fd7b3ac99949a09540f10b74180ae298b4dd0ccf16b255cb3f1fc3d1866.json
  .sqlx/query-aeef2a901bc81883d868d8ef7f91d13c595e289322ed7aee09afa873bd672ec8.json
  db/migrations/20240824191655_initial_schema.sql
  proto/rpc.proto
  src/amqp.rs
  src/db.rs
  src/main.rs
  src/prometheus.rs
  src/rpc_server.rs
Due: sqlx-check

Finalize RPC implementation
  .sqlx/query-4f28c9855a87500c39fc4e88308b16b87bf12743e25be5d1707c07edd8d94dfd.json
  .sqlx/query-c6e49c93d592c0d1864a653999ea7b2ac73fd31784a2323980025211ac8abfba.json
  proto/rpc.proto
  src/db.rs
  src/prometheus.rs
  src/rpc_server.rs
Due: sqlx-check

Use bytes as task id
  proto/rpc.proto
  src/db.rs
  src/rpc_server.rs
Due: sqlx-check

Add dockerfile
  .dockerignore
  Dockerfile
  entrypoint.sh
Due: none
